#!/bin/sh
set -e

if [ ! -f venv-adiosbot/bin/activate ]
then
	echo "Creating a virtual Python environment"
	python3 -m venv venv-adiosbot >/dev/null
fi

if [ -f venv-adiosbot/bin/activate ]
then
	echo "Activating the Python virtual environment"
	. venv-adiosbot/bin/activate
fi

if [ -f venv-adiosbot/bin/pip3 ]
then
	echo "Installing Python requirements"
	venv-adiosbot/bin/pip3 install --upgrade pip 1> /dev/null
	venv-adiosbot/bin/pip3 install -r requirements.txt 1> /dev/null
fi
